.tab-wrapper, .tab-input-wrapper{
  flex-grow: 10;
  margin-bottom: 4px;

  &.focused{

    .blue-line{
      opacity: 1;
    }
  }

}

.btn {
  cursor: pointer;
}

.tab-input{
  position: relative;
  display: block;
  width: calc(100% - 8px);

  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  border: none;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  cursor: pointer;
  color: $ice-blue;
  font-size: inherit;

  &:-webkit-autofill {
    font-family: 'Orbitron', sans-serif;
    font-size: inherit;
    color: inherit;
    border: none;
    -webkit-text-fill-color: $ice-blue;
    -webkit-box-shadow: 0 0 0px 1000px black inset;
  }

  &:focus{
    &:parent > .blue-line{
      opacity: 1;
    }
  }

  &.light{
    background-color: $page-border;
    color: white;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $page-border inset;
      -webkit-text-fill-color: white;
    }
  }
}

.tab{
  margin-top: 8px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  background-color: #000;
  height: 40px;
  z-index: 10;
  color: $ice-blue;
  font-size: 1rem;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;

  &.submit{
    cursor: pointer;

    &:hover{
      transition: transform .2s ease-in-out;
      cursor: pointer;
      transform: scale(1.05);
      background-color: $page-border;
      color: $ice-blue;

      & > .tab-input{
        color: $ice-blue;
      }
    }
  }

  &.left{
    margin-right: 8px;
    padding-right: 40px;
    justify-content: flex-start;

    & span{
      margin-right: 1.5rem;
    }

    /deep/ .sub-panel{
      margin-right: 50px;
    }



    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to top left, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &.light{
      background-color: $page-border;
      color: white;

      &.onLight{

        &:before{
          background: linear-gradient(to top left, $page-color 50%, transparent 50%);
        }
      }

      &.onDark{

        &:before{
          background: linear-gradient(to top left, black 50%, transparent 50%);
        }
      }
    }
  }

  &.mid{
    margin-right: 8px;
    padding-right: 40px;
    padding-left: 40px;

    & /deep/ .sub-panel{
      margin-right: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom right, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to top left, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &.light{
      background-color: $page-border;
      color: white;

      &.onLight{

        &:before{
          background: linear-gradient(to bottom right, $page-color 50%, transparent 50%);
        }
      }

      &.onDark{

        &:before{
          background: linear-gradient(to bottom right, black 50%, transparent 50%);
        }

        &:after{
          background: linear-gradient(to top left, black 50%, transparent 50%);
        }
      }
    }
  }

  &.center{
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 40px;
    padding-right: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top right, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to top left, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &.onLight{
      &:before{
        background: linear-gradient(to top right, page-color 50%, transparent 50%);
      }

      &:after{
        background: linear-gradient(to top left, page-color 50%, transparent 50%);
      }
    }

    &.light{
      background-color: $page-border;
      color: white;

      &.onLight{

        &:before{
          background: linear-gradient(to top right, $page-color 50%, transparent 50%);
        }
      }

      &.onDark{

        &:before{
          background: linear-gradient(to top right, black 50%, transparent 50%);
        }

        &:after{
          background: linear-gradient(to top left, black 50%, transparent 50%);
        }
      }
    }
  }

  &.row-right{
    margin-left: 8px;
    padding-left: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom left, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &.onLight{
      &:before{
        background: linear-gradient(to bottom right, $page-color 50%, transparent 50%);
      }
    }

    &.light{
      background-color: $page-border;
      color: white;

      &.onLight{

        &:before{
          background: linear-gradient(to bottom right, $page-color 50%, transparent 50%);
        }
      }

      &.onDark{

        &:before{
          background: linear-gradient(to bottom right, black 50%, transparent 50%);
        }
      }
    }
  }

  &.right{
    margin-left: 8px;
    padding-left: 40px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top right, $page-color 50%, transparent 50%);
      height: 100%;
      width: 40px;
    }

    &.light{
      background-color: $page-border;
      color: white;

      &.onLight{

        &:before{
          background: linear-gradient(to top right, $page-color 50%, transparent 50%);
        }
      }

      &.onDark{

        &:before{
          background: linear-gradient(to top right, black 50%, transparent 50%);
        }
      }
    }
  }
}

.blue-line{
  height: 2px;
  background-color: $ice-blue;
  opacity: .5;
  position: relative;
  transition: opacity .1s ease-in-out;
  position: relative;
  top: 0;

  &.added-height {
    margin-top: 52px;
  }

  &.left, &.mid{
    margin-right: 50px;
  }
  &.center{
    margin-left: 50px;
    margin-right: 50px;
  }
  &.right{
    margin-left: 50px;
  }

  &.active{
    opacity: 1;
  }

}

span{
  font-family: 'Orbitron', sans-serif;
}

.tab-transition-enter, .tab-transition-leave-to{
  transform: translateX(-150%);
}

.tab-transition-enter-to{
  transform: translateX(0);
}

.tab-transition-enter-active, .tab-transition-leave-active{
  transition: transform .25s ease;
}

@media screen and (max-width: 780px){
  .tab{
    font-size: 1rem;

    &:before{
      width: 20px;
    }
  }
}
@media screen and (max-width: 480px){
  .tab{
    font-size: .8rem;
  }

  .tab.submit{
    font-size: 1rem;
  }
}
